/************** General Styling **************/
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(62, 31, 0);
  outline: none;
}

html, body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background: url("../images/pinkdots-bg.jpg") repeat;
  color: rgb(62,31,0);
}

h1, h2, h3, h4 {
  font-family: "Kalam", cursive;
  color: rgb(62,31,0);
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 1.75em;
}

h3 {
  font-size: 1.5rem;
}

.button {
  margin: 0.5rem auto;
  padding: 0.5rem;
  color: rgb(62,31,0);
  font-weight: bold;
  outline: none;
  background-color: rgb(255,197,220);
  border: 0.125em solid rgb(255,187,210);
  border-radius: 0.313rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(62,31,0, 0.8),
    inset 0.25rem 0.25rem 0.125rem rgba(255,255,255, 0.8),
    inset -0.25rem -0.25rem 0.125rem rgba(255,255,255,0.8);
}

.wrapper {
  max-width: 90%;
  min-height: 100%;
  margin: 0 auto -2rem auto;
  padding: 1em 1em 2em 1em;
  background-color: rgb(255,230,240);
  color: rgb(62, 31, 0);
  border-left: 0.5rem solid rgb(62,31,0);
  border-right: 0.5rem solid rgb(62,31,0);
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
}

header + section {
  margin: 1rem 0rem;
}

.social > a > p {
  margin: 2rem 0 1rem;
  padding: 0;
  font-size: 1.25rem;
  display: inline-block;
}

.social > a >svg {
  max-height: 2rem;
  max-width: 2rem;
  margin: 0 0.25rem;
  padding: 0;
  display: inline-block;
}

footer {
  max-width: 90%;
  height: 3rem;
  background-color: rgb(63,31,0);
  color: rgb(255,230,240);
  font-size: 0.9rem;
  text-align: center;
  padding: 0.5rem 0;
  margin: 1rem auto 0;
}

/************* Form Styling *************/

.form {
  margin-top: 1rem;
  border: 0.125rem solid rgb(62,31,0);
  padding: 1rem;
  border-radius: 0.313rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.4);
  background-color: rgb(255,128,179);
}

.form > fieldset {
  border: none;
  text-align: left;
}

.form > fieldset > label {
  display: block;
}

.form > fieldset > input[type="text"],
.form > fieldset > input[type="email"],
.form > fieldset > input[type="tel"],
.form > fieldset > input[type="date"],
.form > fieldset > textarea {
  width: 100%;
  border: none;
  border-radius: 0.313rem;
  line-height: 1.5rem;
  background-color: rgb(255,230,240);
}

.form > fieldset > input[type="text"]:hover,
.form > fieldset > input[type="email"]:hover,
.form > fieldset > input[type="tel"]:hover,
.form > fieldset > textarea:hover {
  border-bottom: 0.25rem solid rgb(62,31,0);
}

input[type='radio'] {
  display: none;
}

.form > fieldset > input[type="radio"] + label {
  display: inline-block;
  margin: 0 0.5rem 0.5rem;
  width: 10rem;
}

.form > fieldset > input[type="radio"] + label::before,
.carousel > input[type='radio'] + label {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 0.5rem 0.5rem;
  background-color: rgb(255,230,240);
  box-shadow: 0 0 0 0.125rem rgba(62,31,0, 0.5);
  border: 0.125rem solid rgb(255,128,179);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.form > fieldset >input[type="radio"]:checked + label::before,
.carousel > input[type='radio']:checked + label {
  background-color: rgb(62,31,0);
  border: 0.125rem solid rgb(255,128,179);
  transition: all 0.5s ease-in-out;
}

/************** Navigation Styles *****************/

.logo {
  height: 4rem;
  padding: 0;
}

.nav-main {
  position: relative;
}

.nav-menu,
.nav-drop {
  list-style: none;
  list-style-position: inside;
  text-align: right;
  margin-right: 0;
  padding: 0;
  display: none;
}

.nav-drop {
  position: absolute;
  top: 1em;
  right: 0;
  background-color: rgb(128,64,0);
  border-radius: 0.313rem;
}

.nav-menu li,
.nav-drop li {
  padding: .75em;
  margin: 0;
}

.nav-drop li a {
  color: rgb(255,230,240);
}

.selected {
  color: #ff0066;
}

.nav-drop .selected {
  color: #fff;
}

.nav-menu li:hover,
.nav-drop li:hover {
  transform: scale(1.3);
  transition: transform 0.7s ease-in-out;
}

.nav-icon {
  margin: 0;
  padding: 0;
}

.nav-icon-line {
  content: '';
  width: 2.25rem;
  height: 0.25rem;
  background-color: rgb(62, 31, 0);
  margin: 0.25rem 0;
}

/************************* Headline Styles *****************/
.headline {
  margin-top: 1.5em;
}

.headline-name {
  text-shadow: 0.12em 0.12em 0.12em rgba(255, 128, 179, 0.8);
}

.headline-tagline {
  font-size: 0.9em;
  margin-top: -1em;
  padding: 0;
  color: #ff4d94;
}

/******************** Home Page Styles ******************/
.carousel {
  max-width: 100%;
  overflow: hidden;
  background-color: rgba(255,128,179, 0.3);
  padding: 1rem 0;
  margin: 1rem 0;
}

#slide1:checked ~ #carousel-slides {
  margin-left: 0;
}

#slide2:checked ~ #carousel-slides {
  margin-left: -100%;
}

#slide3:checked ~ #carousel-slides {
  margin-left: -200%;
}

#slide4:checked ~ #carousel-slides {
  margin-left: -300%;
}

#carousel-slides {
  width: 400%;
}

.carousel > img {
  width: 100%;
}

#carousel-slides > picture {
  width: 25%;
  float: left;
}

.home-order {
  padding: 0;
  margin-bottom: 1rem;
}

.home-order > h1 {
  margin-bottom: 1rem;
}


/***********Contact Page Styles**********/
.contact > section > h3 {
  margin: 2rem 0 0;
}

.contact > section > p > a {
  color: rgb(255,0,102);
}


/**************** Menu Page Styles *******************/
.menu {
  text-align: left;
}

.page-title {
  margin-bottom: 1rem;
}

.menu-icon {
  display: none;
}

.menu > div {
  border-bottom: 0.125rem solid rgb(62,31,0);
}

.menu > div:last-of-type {
  padding-bottom: 1rem;
}

.menu > div > h3 {
  margin-bottom: 0.313rem;
  padding-bottom: 0;
}

.menu > div > h3 + h4 {
  margin: 0;
}

.menu > div > ul {
  list-style: none;
  list-style-position: inside;
}

.menu-cakes > span > a {
  color: rgb(255,0,102);
}

/*************** Media Queries **********************/
@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 80%;
  }
  
  header + section {
    margin: 3rem 0rem;
  }
  
  .logo {
    height: 8rem;
  }
  
  .nav-icon {
    display: none;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
  }
  
  .headline-name {
    font-size: 2.5rem;
    margin-top: 1.5rem;
  }
  
  .headline-tagline {
    font-size: 1.25rem;
  }
  
  footer {
    max-width: 80%;
  }
} 

@media screen and (min-width:1024px) {
  .wrapper {
    padding: 3rem;
  }
  
  .home > p {
      max-width: 800px;
      margin: 0.5em auto;
  }
  
  input[type='radio'] + label {
      height: 1rem;
      width: 1rem;
  }
 /***********Contact Page Styles**********/   
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .contact section:first-child {
    max-width: 40%;
  }
   
  /**************** Menu Page Styles *******************/
  .menu {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(6, auto);
  }
   
   .menu-icon {
    display: block;
  }
  
  .box-a,
  .box-b,
  .box-e,
  .box-f,
  .box-i,
  .box-j {
    background-color: rgb(255,204,224);
  }
  
  .box-a,
  .box-e,
  .box-i {
    padding-left: 2rem;
  }
  
  .box-d,
  .box-h,
  .box-l {
    padding-right: 2rem;
  }
  
  .box-b > svg {
    margin-top: 10rem;
    margin-left: 5rem;
  } 
  
  .box-c > svg {
    margin-top: 7.5rem;
    margin-left: 3rem;
  }

  .box-f > svg,
  .box-g > svg,
  .box-j > svg,
  .box-k > svg {
    margin-left: 4rem;
  }  
  
  .box-f > svg {
    margin-top: 2.5rem;
  }
  
  .box-g > svg {
    margin-top: 5rem;
  }
}


@media screen and (min-width: 1360px) {
  .logo {
    height: 10rem;
    margin-left: 2rem;
  }
  
  .headline {
    margin-top: -2rem;;
  }
}